# Python for Data Engineering

In [ ]:
with open('sample_data.csv','r') as f:
  lines = f.readlines()
  print(lines)
  f.close()

for i in range(len(lines)):
  lines[i] = lines[i].strip()
  lines[i] = lines[i].split(',')

In [ ]:
col_name = ['order_id','order_date','customer_id','status']
dic = {}
# for line in range(68884):
#   dic = {}
#   for i in range (len(col_name)):
#     dic[col_name[i]] = order_list[line][i]
#   aa.append(dic)
# print(aa)

In [ ]:
set(map(lambda x:x[3],lines))

## Sort data by customer id

In [ ]:
sorted(lines,key = lambda x: x[2])

## Assignment - Split the dataset based on the stock symbol and write the records of each stock into an individual output file named <stockname>.csv.

In [ ]:
with open('nyse_sample_data.csv','r') as f:
  line_str = f.read()
  lines = line_str.splitlines()

  print(lines)

  set1 = set()
  set1 = set(map(lambda x:x.split(',')[1],lines))


  set1.remove('stock')

  for x in set1:
    with open(x+'.csv','a') as f:
      for line in lines:
        if x==line.split(',')[1]:
          f.write(line + '\n')

## Work with JSON

In [ ]:

order_jd = "{\"order_id\": 1, \"order_date\": \"2013-07-25\"}"

order_jd

In [ ]:
import json

order = json.loads(order_jd)

order
print(type(order))

# Pandas

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd
data = {
    'Name': ['Arjun', 'Ravi', 'Priya'],
    'Age': [20, 30, 21],
    'City': ['Bengaluru', 'Mumbai', 'Mysuru']
}
print("data", data)

df = pd.DataFrame(data)
print(type(df))
print(df)
# print(df[['Name','City']])
print(df[df['Name']=='Ravi'])

data {'Name': ['Arjun', 'Ravi', 'Priya'], 'Age': [20, 30, 21], 'City': ['Bengaluru', 'Mumbai', 'Mysuru']}
<class 'pandas.core.frame.DataFrame'>
    Name  Age       City
0  Arjun   20  Bengaluru
1   Ravi   30     Mumbai
2  Priya   21     Mysuru
   Name  Age    City
1  Ravi   30  Mumbai

In [ ]:
import pandas as pd

dataPath = 'sample_data.csv'
# print(dataPath)

df = pd.read_csv(dataPath)
# print(df.tail())
# print(df.columns)

orders_columns = ['order_id','order_date','order_customer_id','order_status']
df = pd.read_csv(dataPath,names = orders_columns)
# print(df.head())
df['order_status'].unique()

df.query('order_status == ("COMPLETE","CLOSED")')

## Count of each order status

In [ ]:
df.groupby('order_status')['order_id'].agg(order_count='count')

## String operations

In [ ]:
x = '1,2013-07-25 00:00:00.0,11599,CLOSED'
y=x.split(',')
print(y[1][:7])

df['order_month'] = df.apply(lambda x:x.order_date[:7],axis=1)
df.head()

df.groupby(['order_month', 'order_status'])['order_id'].agg(order_count='count')

2013-07

                             order_count
order_month order_status
2013-07     CANCELED                  22
            CLOSED                   161
            COMPLETE                 515
            ON_HOLD                   81
            PAYMENT_REVIEW            19
...                                  ...
2014-07     PAYMENT_REVIEW            54
            PENDING                  517
            PENDING_PAYMENT          979
            PROCESSING               561
            SUSPECTED_FRAUD          101

[117 rows x 1 columns]