## Pandas exercise

In [ ]:
import pandas

data_path = '/content/sales_2024-09-01.csv'
df = pandas.read_csv(data_path)

sales_dic = {}
for store_id,sales_revenue in zip(df['store_id'],df['dollar_sales']):
    if store_id in sales_dic:
        sales_dic[store_id] += sales_revenue
    else:
        sales_dic[store_id] = sales_revenue
sorted_data = sorted(sales_dic, key = sales_dic.get)[-1:-4:-1]

# print(sorted_data[-1:-4:-1])

for i in sorted_data:
  print(i,sales_dic[i])

LA005 1682.6100000000001
LA009 1539.8999999999999
LA001 1211.51

In [ ]:
store_rev = (
    df.groupby(["store_id", "store_name"], as_index=False)["dollar_sales"]
      .sum()
      .rename(columns={"dollar_sales": "total_revenue"})
)

top3 = (
    store_rev.sort_values("total_revenue", ascending=False)
             .head(3)
             .reset_index(drop=True)
)

top3

  store_id store_name  total_revenue
0    LA010   Store_10       26671.40
1    LA006    Store_6       23636.70
2    LA009    Store_9       22413.21

In [ ]:
import pandas as pd
import glob

file_paths = glob.glob('/*.csv')
print("Files found:", len(file_paths))

df = pd.concat((pd.read_csv(fp) for fp in file_paths), ignore_index=True)
df.head()

Files found: 30

,store_id,store_name,product_category,date,unit_sales,dollar_sales,store_zip,promotion_flag
0,LA004,Store_4,Produce,2024-09-30,46.0,352.55,90003,False
1,LA001,Store_1,Household,2024-09-30,37.0,525.11,900XX,False
2,LA008,Store_8,Household,2024-09-30,12.0,239.34,90003,False
3,LA006,Store_6,Produce,2024-09-30,18.0,301.86,900XX,False
4,LA006,Store_6,Produce,2024-09-30,15.0,204.87,90002,False

## API Integration of open weather api

In [ ]:
import requests
from datetime import datetime

LAT, LON = 12.9716, 77.5946  # Coordinates for Bengaluru
LAT, LON


unix_timestamp = int(datetime.now().timestamp())
unix_timestamp


API_KEY = "5883b9ac08253fbd080c073b1832a6a8"


url = (
    "https://api.openweathermap.org/data/3.0/onecall/timemachine"
    f"?lat={LAT}&lon={LON}&dt={unix_timestamp}&appid={API_KEY}&units=imperial"
)
url


response = requests.get(url)
response.status_code

weather_data = []

if response.status_code == 200:
    data = response.json()
    today = datetime.now().date()

    day_weather = {
        "date": today,
        "temp": data["data"][0]["temp"],
        "humidity": data["data"][0]["humidity"],
        "weather_main": data["data"][0]["weather"][0]["main"],
        "weather_desc": data["data"][0]["weather"][0]["description"],
    }
    weather_data.append(day_weather)
else:
    print("Failed to fetch data for today")

weather_data

[{'date': datetime.date(2026, 2, 4),
  'temp': 81.27,
  'humidity': 31,
  'weather_main': 'Clear',
  'weather_desc': 'clear sky'}]

## MySQL connection